* {
  margin: 0;
  padding: 0;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  font-family: "PingFang SC";
}
ul li {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  text-decoration: none;
}
.line {
  height: .2rem;
  background: #eee;
}
.load {
  height: 1.46rem;
  background: #eee;
  margin-bottom: 1.1rem;
}
.load .span-c3 {
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}
.load .span-c3 span {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  margin-top: .3rem;
}
.load .span-c3 span:nth-child(1) {
  background: #ffcc41;
}
.load .span-c3 span:nth-child(2) {
  background: #fff;
}
.load p {
  font-size: .24rem;
  text-align: center;
  color: #999;
  padding-top: 0.2rem;
}
.span-c3 span:nth-child(1) {
  animation: loader1 1s linear infinite;
}
.span-c3 span:nth-child(2) {
  animation: loader2 1s linear infinite;
}
@keyframes loader1 {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(0.4rem);
  }
}
@keyframes loader2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0.4rem);
  }
}
body {
  background: #eee;
}
.selectConsignee {
  box-sizing: border-box;
}
.selectConsignee .consigneeItem {
  padding: 0 .3rem;
  background: #fff;
  height: 1.26rem;
  margin-top: .2rem;
  position: relative;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon {
  float: left;
  padding-top: .48rem;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon input[type='radio'],
.selectConsignee .consigneeItem .consigneeItem-selectIcon input[type='checkbox'] {
  width: .3rem;
  height: .3rem;
  vertical-align: middle;
  opacity: 0;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon .input_style {
  width: .3rem;
  height: .3rem;
  display: inline-block;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon .radio_bg {
  width: .3rem;
  height: .3rem;
  border: .01rem solid #ddd;
  border-radius: 50%;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon .checkbox_bg {
  width: .3rem;
  height: .3rem;
  border: .01rem solid #ddd;
  border-radius: 50%;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon .radio_bg_check {
  border-color: transparent;
  background: url("../images/dyuduidui@2x.png") no-repeat;
  background-size: .28rem .29rem;
}
.selectConsignee .consigneeItem .consigneeItem-selectIcon .checkbox_bg_check {
  border-color: transparent;
  background: url("../images/dyuduidui@2x.png") no-repeat;
  background-size: .3rem .3rem;
}
.selectConsignee .consigneeItem .consigneeItem-info {
  float: left;
  padding-left: .3rem;
  padding-top: .3rem;
}
.selectConsignee .consigneeItem .consigneeItem-info .consigneeItem-info-top {
  font-size: .28rem;
  color: #333;
}
.selectConsignee .consigneeItem .consigneeItem-info .consigneeItem-info-top span:nth-child(2) {
  padding-left: .3rem;
}
.selectConsignee .consigneeItem .consigneeItem-info .consigneeItem-info-bottom {
  font-size: .24rem;
  color: #666;
  padding-top: .05rem;
}
.selectConsignee .consigneeItem .defaultBtn {
  display: none;
  position: absolute;
  top: .28rem;
  right: 25%;
}
.selectConsignee .consigneeItem .defaultBtn span {
  display: inline-block;
  width: .8rem;
  height: .38rem;
  text-align: center;
  line-height: .38rem;
  border: .01rem solid #fea947;
  color: #fea947;
  border-radius: .1rem;
}
.selectConsignee .consigneeItem .editBtn {
  float: right;
  padding-top: .48rem;
}
.selectConsignee .consigneeItem .editBtn img {
  width: .29rem;
  height: .29rem;
}
.selectConsignee .itemAct .defaultBtn {
  display: block;
}
.selectConsignee .bottom-addConsignee {
  position: fixed;
  width: 100%;
  height: .98rem;
  background: #fff;
  bottom: 0;
  left: 0;
}
.selectConsignee .bottom-addConsignee .addConsigneeBox {
  margin: .1rem auto;
  width: 4rem;
  height: .8rem;
}
.selectConsignee .bottom-addConsignee .addConsigneeBox .addConsigneeBtn {
  width: 4rem;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  border-radius: .4rem;
  background: #29c2a3;
}
.selectConsignee .bottom-addConsignee .addConsigneeBox .addConsigneeBtn img {
  width: .2rem;
  height: .2rem;
}
.selectConsignee .bottom-addConsignee .addConsigneeBox .addConsigneeBtn span {
  font-size: .32rem;
  color: #fff;
  font-weight: 900;
}
