<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑收货人</title>
    <link rel="stylesheet" href="__PUBLIC__/Zyly/css/media.css">
    <link rel="stylesheet" href="__PUBLIC__/Zyly/css/selectConsignee.css">
    <script src="__PUBLIC__/Zyly/js/jquery-2.2.2.min.js"></script>
    <script src="__PUBLIC__/Zyly/js/input.js"></script>
</head>

<body>

    <div class="selectConsignee">
        <volist name="address" id="vol" empty="暂无收货人信息">
            <if condition="$vol.is_default eq 1">
                <div class="consigneeItem itemAct clearfix">
                <div class="consigneeItem-selectIcon">
                    <lable>
                        <i class='input_style checkbox_bg radio_bg_check'> <input name="sel" id="selectItem" type="radio"></i>
                    </lable>
                </div>
            <else />
                <div class="consigneeItem clearfix">
                <div class="consigneeItem-selectIcon">
                    <lable>
                        <i class='input_style checkbox_bg' onclick="selects({$vol.id},{$goods_id},{$buy_num},{$shop_type})"> <input name="sel" id="selectItem" type="radio"></i>
                    </lable>
                </div>
            </if>
            
                <div class="consigneeItem-info">
                    <div class="consigneeItem-info-top">
                        <span>{$vol.name}</span>
                        <span>{$vol.tel}</span>
                    </div>
                    <div class="consigneeItem-info-bottom">
                        <span>{$vol.address}</span>
                    </div>
                </div>
                <div class="defaultBtn">
                    <span>默认</span>
                </div>
                <div class="editBtn"  data-id="{$vol.id}">
                    <img src="__PUBLIC__/Zyly/images/biainji@2x.png" alt="">
                </div>
            </div>
        </volist>
       
        <div class="bottom-addConsignee">
            <div class="addConsigneeBox">
                <div class="addConsigneeBtn">
                    <img src="__PUBLIC__/Zyly/images/++++++@2x.png" alt="">
                    <span>添加收货人</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
  $(function(){
      var goods_id ={:$goods_id};
      var buy_num = {:$buy_num};
      var uid={$uid};
      var shop_type={$shop_type};
      $('.editBtn').click(function(){
          var id=$(this).attr('data-id');
          location.href='{:U("Address/edit_address")}?id='+id+'&type=1&goods_id='+goods_id+'&buy_num='+buy_num+'&shop_type='+shop_type;
      })

      $('.addConsigneeBtn').click(function(){
        location.href='{:U("Address/edit_address")}?uid='+uid+'&type=1&goods_id='+goods_id+'&buy_num='+buy_num+'&shop_type='+shop_type;
      })
  })
  function selects(add_id,goods_id,buy_num,shop_type){
    location.href='{:U("Goods/writeOrder")}?add_id='+add_id+'&goods_id='+goods_id+'&buy_num='+buy_num+'&shop_type='+shop_type;
  }
</script>

</html>